<%= form_with model: @character, builder: CharacterFormBuilder do |f| %>
  <fieldset id="setup" class="lifepath_entry">
    <legend><%= t ".setup" %></legend>
    <div class="field">
      <%= f.label :player %>
      <%= f.text_field :player, required: true %>
    </div>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, required: true %>
    </div>
    <div class="field" data-controller="options-carousel">
      <%= f.label :role %>
      <button class="back" data-action="options-carousel#prev" type="button"></button>
      <%= f.text_field :role, list: "roles", readonly: true, data: { options_carousel_target: "field" } %>
      <button class="forward" data-action="options-carousel#next" type="button"></button>
      <datalist id="roles">
        <%= options_for_select Character::ROLES.map { |r| Character.human_attribute_name "role.#{r}" } %>
      </datalist>
    </div>
    
    <%= f.button(:next, value: "personals", class: "slanted-button next", data: { turbo: false }) { t(".next") } %>
  </fieldset>
  
  <fieldset id="personals" class="lifepath_entry">
    <legend><%= t ".personals" %></legend>
    
    <div class="field" data-controller="options-table">
      <%= f.label :origins %>
      <%= f.text_field :origins, data: { options_table_target: "field" } %>
      <table>
        <thead>
          <tr>
            <th><%= t ".roll" %></th>
            <th><%= Character.human_attribute_name :origins %></th>
          </tr>
        </thead>
        <tbody>
          <% Character::ORIGINS.each_with_index do |o, i| %>
            <%= tag.tr data: { options_table_target: "option", action: "click->options-table#pick" } do %>
              <%= tag.th i+1 %>
              <%= tag.td Character.human_attribute_name "origins.#{o}" %>
            <% end %>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">
              <button type="button" class="slanted-button" data-action="options-table#pickAtRandom">
                <%= t ".random" %>
              </button>
            </td>
          </tr>
        </tfoot>
      </table>
      <!-- 
      ## WIP for the optional description/details below the field. Could be set by the Stimulus controller
      <p style="position: absolute; left: calc(var(--cutoff-width) + var(--border-width)); margin-top: 20%;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus quam laborum officia minus magnam non enim deleniti corrupti esse fuga ratione voluptas culpa nam obcaecati, reiciendis quis cumque minima deserunt!
      </p>
      -->
    </div>
    
    <div class="field" data-controller="options-table">
      <%= f.label :personality %>
      <%= f.text_field :personality, data: { options_table_target: "field" } %>
      <table>
        <thead>
          <tr>
            <th><%= t ".roll" %></th>
            <th><%= Character.human_attribute_name :personality %></th>
          </tr>
        </thead>
        <tbody>
          <% Character::PERSONALITIES.each_with_index do |o, i| %>
            <%= tag.tr data: { options_table_target: "option", action: "click->options-table#pick" } do %>
              <%= tag.th i+1 %>
              <%= tag.td Character.human_attribute_name "personality.#{o}" %>
            <% end %>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">
              <button type="button" class="slanted-button" data-action="options-table#pickAtRandom">
                <%= t ".random" %>
              </button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    
    <div class="field" data-controller="options-table">
      <%= f.label :clothing %>
      <%= f.text_field :clothing, data: { options_table_target: "field" } %>
      <table class="options-table">
        <thead>
          <tr>
            <th><%= t ".roll" %></th>
            <th><%= Character.human_attribute_name :clothing %></th>
          </tr>
        </thead>
        <tbody>
          <% Character::CLOTHINGS.each_with_index do |o, i| %>
            <%= tag.tr data: { options_table_target: "option", action: "click->options-table#pick" } do %>
              <%= tag.th i+1 %>
              <%= tag.td do %>
                <%= Character.human_attribute_name "clothing.#{o}" %>
                <i><%= t ".clothings.#{o}" %></i>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">
              <button type="button" class="slanted-button" data-action="options-table#pickAtRandom">
                <%= t ".random" %>
              </button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    
    <div class="field" data-controller="options-table">
      <%= f.label :hairstyle %>
      <%= f.text_field :hairstyle, data: { options_table_target: "field" } %>
      <table>
        <thead>
          <tr>
            <th><%= t ".roll" %></th>
            <th><%= Character.human_attribute_name :hairstyle %></th>
          </tr>
        </thead>
        <tbody>
          <% Character::HAIRSTYLES.each_with_index do |o, i| %>
            <%= tag.tr data: { options_table_target: "option", action: "click->options-table#pick" } do %>
              <%= tag.th i+1 %>
              <%= tag.td do %>
                <%= Character.human_attribute_name "hairstyle.#{o}" %>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">
              <button type="button" class="slanted-button" data-action="options-table#pickAtRandom">
                <%= t ".random" %>
              </button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>

    <div class="field" data-controller="options-table">
      <%= f.label :affectation %>
      <%= f.text_field :affectation, data: { options_table_target: "field" } %>
      <table>
        <thead>
          <tr>
            <th><%= t ".roll" %></th>
            <th><%= Character.human_attribute_name :affectation %></th>
          </tr>
        </thead>
        <tbody>
          <% Character::AFFECTATIONS.each_with_index do |o, i| %>
            <%= tag.tr data: { options_table_target: "option", action: "click->options-table#pick" } do %>
              <%= tag.th i+1 %>
              <%= tag.td do %>
                <%= Character.human_attribute_name "affectation.#{o}" %>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">
              <button type="button" class="slanted-button" data-action="options-table#pickAtRandom">
                <%= t ".random" %>
              </button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    
    <div class="field" data-controller="options-table" >
      <%= f.label :most_valued_thing %>
      <%= f.text_field :most_valued_thing, data: { options_table_target: "field" } %>
      <table>
        <thead>
          <tr>
            <th><%= t ".roll" %></th>
            <th><%= Character.human_attribute_name :most_valued_thing %></th>
          </tr>
        </thead>
        <tbody>
          <% Character::VALUED_THINGS.each_with_index do |o, i| %>
            <%= tag.tr data: { options_table_target: "option", action: "click->options-table#pick" } do %>
              <%= tag.th i+1 %>
              <%= tag.td do %>
                <%= Character.human_attribute_name "most_valued_thing.#{o}" %>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">
              <button type="button" class="slanted-button" data-action="options-table#pickAtRandom">
                <%= t ".random" %>
              </button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>

    <div class="field" data-controller="options-table">
      <%= f.label :opinion_on_people %>
      <%= f.text_field :opinion_on_people, data: { options_table_target: "field" } %>
      <table>
        <thead>
          <tr>
            <th><%= t ".roll" %></th>
            <th><%= Character.human_attribute_name :opinion_on_people %></th>
          </tr>
        </thead>
        <tbody>
          <% Character::OPINIONS_ON_PEOPLE.each_with_index do |o, i| %>
            <%= tag.tr data: { options_table_target: "option", action: "click->options-table#pick" } do %>
              <%= tag.th i+1 %>
              <%= tag.td do %>
                <%= Character.human_attribute_name "opinion_on_people.#{o}" %>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">
              <button type="button" class="slanted-button" data-action="options-table#pickAtRandom">
                <%= t ".random" %>
              </button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    
    <div class="field" data-controller="options-table">
      <%= f.label :most_valued_person %>
      <%= f.text_field :most_valued_person, data: { options_table_target: "field" } %>
      <table>
        <thead>
          <tr>
            <th><%= t ".roll" %></th>
            <th><%= Character.human_attribute_name :most_valued_person %></th>
          </tr>
        </thead>
        <tbody>
          <% Character::VALUED_PEOPLE.each_with_index do |o, i| %>
            <%= tag.tr data: { options_table_target: "option", action: "click->options-table#pick" } do %>
              <%= tag.th i+1 %>
              <%= tag.td do %>
                <%= Character.human_attribute_name "most_valued_person.#{o}" %>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">
              <button type="button" class="slanted-button" data-action="options-table#pickAtRandom">
                <%= t ".random" %>
              </button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    
    <div class="field"  data-controller="options-table">
      <%= f.label :most_valued_possession %>
      <%= f.text_field :most_valued_possession, data: { options_table_target: "field" } %>
      <table>
        <thead>
          <tr>
            <th><%= t ".roll" %></th>
            <th><%= Character.human_attribute_name :most_valued_possession %></th>
          </tr>
        </thead>
        <tbody>
          <% Character::VALUED_POSSESSIONS.each_with_index do |o, i| %>
            <%= tag.tr data: { options_table_target: "option", action: "click->options-table#pick" } do %>
              <%= tag.th i+1 %>
              <%= tag.td do %>
                <%= Character.human_attribute_name "most_valued_possession.#{o}" %>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">
              <button type="button" class="slanted-button" data-action="options-table#pickAtRandom">
                <%= t ".random" %>
              </button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    
    <%= f.button(:next, value: "background", class: "slanted-button next", data: { turbo: false }) { t(".next") } %>
  </fieldset>
  
  <fieldset id="background" class="lifepath_entry">
    <legend><%= t ".background" %></legend>
    
    <div class="field" data-controller="options-table">
      <%= f.label :original_background %>
      <%= f.text_field :original_background, data: { options_table_target: "field" } %>
      <table>
        <thead>
          <tr>
            <th><%= t ".roll" %></th>
            <th><%= Character.human_attribute_name :original_background %></th>
          </tr>
        </thead>
        <tbody>
          <% Character::ORIGINAL_BACKGROUNDS.each_with_index do |o, i| %>
            <%= tag.tr data: { options_table_target: "option", action: "click->options-table#pick" } do %>
              <%= tag.th i+1 %>
              <%= tag.td do %>
                <%= Character.human_attribute_name "original_background.#{o}" %>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">
              <button type="button" class="slanted-button" data-action="options-table#pickAtRandom">
                <%= t ".random" %>
              </button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>

    <div class="field" data-controller="options-table">
      <%= f.label :childhood_environment %>
      <%= f.text_field :childhood_environment, data: { options_table_target: "field" } %>
      <table>
        <thead>
          <tr>
            <th><%= t ".roll" %></th>
            <th><%= Character.human_attribute_name :childhood_environment %></th>
          </tr>
        </thead>
        <tbody>
          <% Character::CHILDHOOD_ENVIRONMENTS.each_with_index do |o, i| %>
            <%= tag.tr data: { options_table_target: "option", action: "click->options-table#pick" } do %>
              <%= tag.th i+1 %>
              <%= tag.td do %>
                <%= Character.human_attribute_name "childhood_environment.#{o}" %>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">
              <button type="button" class="slanted-button" data-action="options-table#pickAtRandom">
                <%= t ".random" %>
              </button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>

    <div class="field" data-controller="options-table">
      <%= f.label :family_crisis %>
      <%= f.text_field :family_crisis, data: { options_table_target: "field" } %>
      <table>
        <thead>
          <tr>
            <th><%= t ".roll" %></th>
            <th><%= Character.human_attribute_name :family_crisis %></th>
          </tr>
        </thead>
        <tbody>
          <% Character::FAMILIY_CRISES.each_with_index do |o, i| %>
            <%= tag.tr data: { options_table_target: "option", action: "click->options-table#pick" } do %>
              <%= tag.th i+1 %>
              <%= tag.td do %>
                <%= Character.human_attribute_name "family_crisis.#{o}" %>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">
              <button type="button" class="slanted-button" data-action="options-table#pickAtRandom">
                <%= t ".random" %>
              </button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
      
    <%= f.button(:next, value: "friends", class: "slanted-button next", data: { turbo: false }) { t(".next") } %>
  </fieldset>

  <fieldset id="friends" class="lifepath_entry">
    <legend><%= t ".friends_html", count: f.object.friends.count %></legend>
    
    <% f.object.friends.each_with_index do |friend, i| %>
      <%= f.fields_for :friends, friend do |friend_fields| %>
        <div class="field">
          <%= friend_fields.label :name, index: i %>
          <%= friend_fields.text_field :name, index: i, required: true %>
        </div>
        
        <fieldset class="secondary-fields">
          <div class="field" data-controller="options-table">
            <%= friend_fields.label :origin, index: i %>
            <%= friend_fields.text_field :origin, index: i, required: true, data: { options_table_target: "field" } %>
            <table>
              <thead>
                <tr>
                  <th><%= t ".roll" %></th>
                  <th><%= t ".friend_origin" %></th>
                </tr>
              </thead>
              <tbody>
                <% Friend::ORIGINS.each_with_index do |o, i| %>
                  <%= tag.tr data: { options_table_target: "option", action: "click->options-table#pick" } do %>
                    <%= tag.th i+1 %>
                    <%= tag.td do %>
                      <%= Friend.human_attribute_name "origin.#{o}" %>
                    <% end %>
                  <% end %>
                <% end %>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="2">
                    <button type="button" class="slanted-button" data-action="options-table#pickAtRandom">
                      <%= t ".random" %>
                    </button>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </fieldset>
      <% end %>
    <% end %>
    
    <%= f.button(:next, value: "enemies", class: "slanted-button next", data: { turbo: false }) { t(".next") } %>
  </fieldset>

  <fieldset id="enemies" class="lifepath_entry">
    <legend><%= t ".enemies_html", count: f.object.enemies.count %></legend>
    
    <% f.object.enemies.each_with_index do |enemy, i| %>
      <%= f.fields_for :enemies, enemy do |enemy_fields| %>
        <div class="field">
          <%= enemy_fields.label :name, index: i %>
          <%= enemy_fields.text_field :name, index: i, required: true %>
        </div>
        
        <fieldset class="secondary-fields">
          <div class="field" data-controller="options-table">
            <%= enemy_fields.label :origin, index: i %>
            <%= enemy_fields.text_field :origin, index: i, required: true, data: { options_table_target: "field" } %>
            <table>
              <thead>
                <tr>
                  <th><%= t ".roll" %></th>
                  <th><%= t ".enemy_origin" %></th>
                </tr>
              </thead>
              <tbody>
                <% Enemy::ORIGINS.each_with_index do |o, i| %>
                  <%= tag.tr data: { options_table_target: "option", action: "click->options-table#pick" } do %>
                    <%= tag.th i+1 %>
                    <%= tag.td do %>
                      <%= Enemy.human_attribute_name "origin.#{o}" %>
                    <% end %>
                  <% end %>
                <% end %>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="2">
                    <button type="button" class="slanted-button" data-action="options-table#pickAtRandom">
                      <%= t ".random" %>
                    </button>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
  
          <div class="field" data-controller="options-table">
            <%= enemy_fields.label :cause, index: i %>
            <%= enemy_fields.text_field :cause, index: i, required: true, data: { options_table_target: "field" } %>
            <table>
              <thead>
                <tr>
                  <th><%= t ".roll" %></th>
                  <th><%= t ".enemy_cause" %></th>
                </tr>
              </thead>
              <tbody>
                <% Enemy::CAUSES.each_with_index do |o, i| %>
                  <%= tag.tr data: { options_table_target: "option", action: "click->options-table#pick" } do %>
                    <%= tag.th i+1 %>
                    <%= tag.td do %>
                      <%= Enemy.human_attribute_name "cause.#{o}" %>
                    <% end %>
                  <% end %>
                <% end %>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="2">
                    <button type="button" class="slanted-button" data-action="options-table#pickAtRandom">
                      <%= t ".random" %>
                    </button>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
          
          <div class="field" data-controller="options-carousel">
            <%= enemy_fields.label :wronged_party %>
            
            <button class="back" data-action="options-carousel#prev" type="button"></button>
            <%= enemy_fields.text_field :wronged_party, list: "wronged_party_#{i}", readonly: true, data: { options_carousel_target: "field" } %>
            <button class="forward" data-action="options-carousel#next" type="button"></button>
            
            <datalist id="wronged_party_<%= i %>">
              <%= options_for_select %w[character enemy].map { |r| Enemy.human_attribute_name "wronged_party.#{r}" } %>
            </datalist>
          </div>
          
          <div class="field" data-controller="options-table">
            <%= enemy_fields.label :means_of_retaliation, index: i %>
            <%= enemy_fields.text_field :means_of_retaliation, index: i, required: true, data: { options_table_target: "field" } %>
            <table>
              <thead>
                <tr>
                  <th><%= t ".roll" %></th>
                  <th><%= t ".enemy_means_of_retaliation" %></th>
                </tr>
              </thead>
              <tbody>
                <% Enemy::MEANS_OF_RETALIATION.each_with_index do |o, i| %>
                  <%= tag.tr data: { options_table_target: "option", action: "click->options-table#pick" } do %>
                    <%= tag.th i+1 %>
                    <%= tag.td do %>
                      <%= Enemy.human_attribute_name "means_of_retaliation.#{o}" %>
                    <% end %>
                  <% end %>
                <% end %>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="2">
                    <button type="button" class="slanted-button" data-action="options-table#pickAtRandom">
                      <%= t ".random" %>
                    </button>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        
        <div class="field" data-controller="options-table">
          <%= enemy_fields.label :intensity, index: i %>
          <%= enemy_fields.text_field :intensity, index: i, required: true, data: { options_table_target: "field" } %>
          <table>
            <thead>
              <tr>
                <th><%= t ".roll" %></th>
                <th><%= t ".enemy_intensity" %></th>
              </tr>
            </thead>
            <tbody>
              <% Enemy::INTENSITIES.each_with_index do |o, i| %>
                <%= tag.tr data: { options_table_target: "option", action: "click->options-table#pick" } do %>
                  <%= tag.th i+1 %>
                  <%= tag.td do %>
                    <%= Enemy.human_attribute_name "intensity.#{o}" %>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="2">
                  <button type="button" class="slanted-button" data-action="options-table#pickAtRandom">
                    <%= t ".random" %>
                  </button>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
        
        </fieldset>
      <% end %>
    <% end %>
    
    <%= f.button(:next, value: "wrap-up", class: "slanted-button next", data: { turbo: false }) { t(".next") } %>
  </fieldset>


  
  <fieldset id="wrap-up" class="lifepath_entry">
    <legend><%= t ".wrap_up" %></legend>
  </fieldset>
  
  <fieldset id="role-lifepath" class="lifepath_entry">
    <legend><%= t ".role_lifepath" %></legend>
  </fieldset>
<% end %>
