<%= form_with model: @character, builder: CharacterFormBuilder do |f| %>
  <fieldset id="setup" class="lifepath_entry">
    <legend><%= t ".setup" %></legend>
    <div class="field">
      <%= f.label :player %>
      <%= f.text_field :player, required: true %>
    </div>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, required: true %>
    </div>
    <div class="field" data-controller="options-carousel" data-action="keydown.left->options-carousel#prev:prevent keydown.right->options-carousel#next:prevent">
      <%= f.label :role %>
      <button class="back" data-action="options-carousel#prev" type="button"></button>
      <%= f.text_field :role, list: "roles", data: { options_carousel_target: "field" } %>
      <button class="forward" data-action="options-carousel#next" type="button"></button>
      <datalist id="roles">
        <%= options_for_select Character::ROLES.map { |r| Character.human_attribute_name "role.#{r}" } %>
      </datalist>
    </div>
    
    <%= f.button(:next, value: "personals", class: "slanted-button next", data: { turbo: false }) { t(".next") } %>
  </fieldset>
  
  <fieldset id="personals" class="lifepath_entry">
    <legend><%= t ".personals" %></legend>
    <%= f.options_table :origins %>
    <%= f.options_table :personality %>

    <%# TODO: handle the extra description %>
    <div class="field" data-controller="options-table">
      <%= f.label :clothing %>
      <%= f.text_field :clothing, data: { options_table_target: "field" } %>
      <table class="options-table">
        <thead>
          <tr>
            <th><%= t ".roll" %></th>
            <th><%= Character.human_attribute_name :clothing %></th>
          </tr>
        </thead>
        <tbody>
          <% Character::CLOTHINGS.each do |roll, o| %>
            <%= tag.tr data: { options_table_target: "option", action: "click->options-table#pick" } do %>
              <%= tag.th Array(roll).join("&nthinsp;-&nthinsp;") %>
              <%= tag.td do %>
                <%= Character.human_attribute_name "clothing.#{o}" %>
                <i><%= t ".clothings.#{o}" %></i>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">
              <button type="button" class="slanted-button" data-action="options-table#pickAtRandom">
                <%= t ".random" %>
              </button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    
    <%= f.options_table :hairstyle %>
    <%= f.options_table :affectation %>
    <%= f.options_table :most_valued_thing, Character::VALUED_THINGS %>
    <%= f.options_table :opinion_on_people, Character::OPINIONS_ON_PEOPLE %>
    <%= f.options_table :most_valued_person, Character::VALUED_PEOPLE %>
    <%= f.options_table :most_valued_possession, Character::VALUED_POSSESSIONS %>
    
    <%= f.button(:next, value: "background", class: "slanted-button next", data: { turbo: false }) { t(".next") } %>
  </fieldset>
  
  <fieldset id="background" class="lifepath_entry">
    <legend><%= t ".background" %></legend>
    
    <%= f.options_table :original_background %>
    <%= f.options_table :childhood_environment %>
    <%= f.options_table :family_crisis %>

    <%= f.button(:next, value: "friends", class: "slanted-button next", data: { turbo: false }) { t(".next") } %>
  </fieldset>

  <fieldset id="friends" class="lifepath_entry">
    <legend><%= t ".friends_html", count: f.object.friends.count %></legend>
    
    <% f.object.friends.each_with_index do |friend, i| %>
      <%= f.fields_for :friends, friend do |friend_fields| %>
        <div class="field">
          <%= friend_fields.label :name, index: i %>
          <%= friend_fields.text_field :name, index: i, required: true %>
        </div>
        
        <fieldset class="secondary-fields">
          <%= friend_fields.options_table :origin %>
        </fieldset>
      <% end %>
    <% end %>
    
    <%= f.button(:next, value: "enemies", class: "slanted-button next", data: { turbo: false }) { t(".next") } %>
  </fieldset>

  <fieldset id="enemies" class="lifepath_entry">
    <legend><%= t ".enemies_html", count: f.object.enemies.count %></legend>
    
    <% f.object.enemies.each_with_index do |enemy, i| %>
      <%= f.fields_for :enemies, enemy do |enemy_fields| %>
        <div class="field">
          <%= enemy_fields.label :name, index: i %>
          <%= enemy_fields.text_field :name, index: i, required: true %>
        </div>
        
        <fieldset class="secondary-fields">
          <%= enemy_fields.options_table :origin %>
          <%= enemy_fields.options_table :cause %>
          
          <div class="field" data-controller="options-carousel" data-action="keydown.left->options-carousel#prev:prevent keydown.right->options-carousel#next:prevent">
            <%= enemy_fields.label :wronged_party %>
            
            <button class="back" data-action="options-carousel#prev" type="button"></button>
            <%= enemy_fields.text_field :wronged_party, list: "wronged_party_#{i}", data: { options_carousel_target: "field" } %>
            <button class="forward" data-action="options-carousel#next" type="button"></button>
            
            <datalist id="wronged_party_<%= i %>">
              <%= options_for_select %w[character enemy].map { |r| Enemy.human_attribute_name "wronged_party.#{r}" } %>
            </datalist>
          </div>
          
          <%= enemy_fields.options_table :means_of_retaliation, Enemy::MEANS_OF_RETALIATION %>
          <%= enemy_fields.options_table :intensity %>
        </fieldset>
      <% end %>
    <% end %>
    
    <%= f.button(:next, value: "tragic_love_affairs", class: "slanted-button next", data: { turbo: false }) { t(".next") } %>
  </fieldset>

  <fieldset id="tragic-love-affairs" class="lifepath_entry">
    <legend><%= t ".tragic_love_affairs_html", count: f.object.tragic_love_affairs.count %></legend>
    
    <% f.object.tragic_love_affairs.each_with_index do |affair, i| %>
      <%= f.fields_for :tragic_love_affairs, affair do |affair_fields| %>
        <div class="field">
          <%= affair_fields.label :name, index: i %>
          <%= affair_fields.text_field :name, index: i, required: true %>
        </div>
        
        <fieldset class="secondary-fields">
          <%= affair_fields.options_table :origin %>
        </fieldset>
      <% end %>
    <% end %>
    
    <%= f.button(:next, value: "wrap-up", class: "slanted-button next", data: { turbo: false }) { t(".next") } %>
  </fieldset>

  
  <fieldset id="wrap-up" class="lifepath_entry">
    <legend><%= t ".wrap_up" %></legend>
    <%= f.options_table :life_goal %>
    
    <%= f.button(:next, value: "role-lifepath", class: "slanted-button next", data: { turbo: false }) { t(".next") } %>
  </fieldset>
  
  <fieldset id="role-lifepath" class="lifepath_entry">
    <legend><%= t ".role_lifepath" %></legend>
  </fieldset>
<% end %>
