<%= form_with model: @character do |f| %>
  <fieldset>
    <legend><%= t ".setup" %></legend>
    <div class="field">
      <%= f.label :player %>
      <%= f.text_field :player, required: true %>
    </div>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, required: true %>
    </div>
    <div class="field">
      <%= f.label :role %>
      <div class="options-carousel" data-controller="options-carousel">
        <button class="back" data-action="options-carousel#prev" type="button"></button>
        <%= f.text_field :role, list: "roles", readonly: true, data: { options_carousel_target: "field" } %>
        <button class="forward" data-action="options-carousel#next" type="button"></button>
      </div>
      <datalist id="roles">
        <%= options_for_select Character::ROLES.map { |r| Character.human_attribute_name "role.#{r}" } %>
      </datalist>
    </div>
  </fieldset>
  <fieldset data-controller="options-table">
    <legend><%= t ".personals" %></legend>
    <div class="field">
      <%= f.label :origins %>
      <%= f.text_field :origins, data: { options_table_target: "field" } %>
    </div>
    <div class="options-table">
      <table>
        <thead>
          <tr>
            <th><%= t ".roll" %></th>
            <th><%= Character.human_attribute_name :origins %></th>
          </tr>
        </thead>
        <tbody>
          <% Character::ORIGINS.each_with_index do |o, i| %>
            <%= tag.tr data: { options_table_target: "option", action: "click->options-table#pick" } do %>
              <%= tag.th i+1 %>
              <%= tag.td Character.human_attribute_name "origins.#{o}" %>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <button type="button" class="btn-action" data-action="options-table#pickAtRandom">
        <%= t ".random" %>
      </button>
    </div>
    <div class="field">
      <%= f.label :personality %>
      <%= f.text_field :personality %>
    </div>
  </fieldset>
  <fieldset>
    <legend><%= t ".background" %></legend>
  </fieldset>
  <fieldset>
    <legend><%= t ".wrap_up" %></legend>
  </fieldset>
  <fieldset>
    <legend><%= t ".role_lifepath" %></legend>
  </fieldset>
<% end %>

