<%= tag.div class: "field with-table", id: f.wrapper_field_id(attr), data: { controller: "lock swappable field" } do %>
  <%= f.label attr %>
  <div>
    <%= f.text_field attr, data: { field_target: "input", lock_target: "input" } %>
    <p data-field-target="description"></p>
  </div>
  <table
    class="options-table"
    data-swapper-target="swap"
    data-controller="table-picker"
    data-table-picker-max-roll-value="<%= collection.length %>"
    data-table-picker-lock-outlet="#<%= f.wrapper_field_id(attribute) %>"
    data-table-picker-field-outlet="#<%= f.wrapper_field_id(attribute) %>"
    >
    <thead>
      <tr>
        <th><%= t ".roll" %></th>
        <th><%= t ".#{f.object.model_name.singular}.#{attr}", default: f.object.class.human_attribute_name(attr) %></th>
        <th data-role="description"><%= t ".description" %></th>
      </tr>
    </thead>
    <tbody>
      <% collection.each do |roll, o| %>
        <%= tag.tr data: { table_picker_target: "option", action: "click->table-picker#pick" } do %>
          <%= tag.th Array(roll).join("&thinsp;-&thinsp;").html_safe, data: { role: "roll" } %>
          <%= tag.td f.object.class.human_attribute_name "#{attr}.#{o}", data: { role: "value" } %>
          <%= tag.td t(".descriptions.#{attr}.#{o}", default: ""), data: { role: "description" } %>
        <% end %>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">
          <button type="button" class="slanted-button" data-action="table-picker#pickAtRandom">
            <%= t ".random" %>
          </button>
        </td>
      </tr>
    </tfoot>
  </table>
<% end %>
