<%= tag.div class: "field", data: { controller: "options-table", options_table_max_roll_value: collection.length } do %>
  <%= f.label attr %>
  <div>
    <%= f.text_field attr, data: { options_table_target: "field" } %>
    <p data-options-table-target="description"></p>
  </div>
  <table>
    <thead>
      <tr>
        <th><%= t ".roll" %></th>
        <th><%= t ".#{f.object.model_name.singular}.#{attr}", default: f.object.class.human_attribute_name(attr) %></th>
        <th data-role="description"><%= t ".description" %></th>
      </tr>
    </thead>
    <tbody>
      <% collection.each do |roll, o| %>
        <%= tag.tr data: { options_table_target: "option", action: "click->options-table#pick" } do %>
          <%= tag.th Array(roll).join("&thinsp;-&thinsp;").html_safe, data: { role: "roll" } %>
          <%= tag.td f.object.class.human_attribute_name "#{attr}.#{o}", data: { role: "value" } %>
          <%= tag.td t(".descriptions.#{attr}.#{o}", default: ""), data: { role: "description" } %>
        <% end %>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">
          <button type="button" class="slanted-button" data-action="options-table#pickAtRandom">
            <%= t ".random" %>
          </button>
        </td>
      </tr>
    </tfoot>
  </table>
<% end %>
