<%= form.options_table :kind %>

<div class="field">
  <%= form.label :work_alone %>
  <%= tag.div class: "field-boxes-list", data: { controller: "unlocker", unlocker_locked_value: form.object.work_alone, unlocker_lockable_outlet: "##{form.wrapper_field_id(:partner)}" } do %>
    <%= form.label :work_alone, value: true do %>
      <%= form.radio_button :work_alone, true, data: { action: "unlocker#lock" } %>
      <span class="field-border"><%= t ".yes" %></span>
    <% end %>
    <%= form.label :work_alone, value: false do %>
      <%= form.radio_button :work_alone, false, data: { action: "unlocker#unlock" } %>
      <span class="field-border"><%= t ".no" %></span>
    <% end %>
  <% end %>
</div>

<%= form.options_table :partner %>
<%= form.options_table :workspace %>
<%= form.options_table :clients %>
<%= form.options_table :supplier %>
